<!DOCTYPE html>

<html>
    <head>
        <title>關於有溫度</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="~/AboutUsPage/css/style.css"/>
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
        <script>
            @if (TempData["Message"] != null)
            {
                <text>alert('@TempData["Message"]')</text>
            }
        </script>
    </body>
</html>