@model MvcWeb.ViewModels.productViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data"> @*要加上 method="post" enctype="multipart/form-data" 才能成功重新上傳圖片*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="productId" />
            <div class="form-group">
                <label asp-for="productIndex" class="control-label">商品編號</label>
                <input asp-for="productIndex" class="form-control" />
                <span asp-validation-for="productIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productNumber" class="control-label">商品數量</label>
                <input asp-for="productNumber" class="form-control" />
                <span asp-validation-for="productNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="productPrice" class="control-label">商品價格</label>
                <input asp-for="productPrice" class="form-control" />
                <span asp-validation-for="productPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="productName" class="control-label">商品名稱</label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productDescription" class="control-label">商品描述</label>
                <input asp-for="productDescription" class="form-control" />
                <span asp-validation-for="productDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productUnit" class="control-label">商品單位</label>
                <input asp-for="productUnit" class="form-control" />
                <span asp-validation-for="productUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productPosition" class="control-label">商品位置</label>
                <input asp-for="productPosition" class="form-control" />
                <span asp-validation-for="productPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productPs" class="control-label"></label>
                <input asp-for="productPs" class="form-control" />
                <span asp-validation-for="productPs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="productImage" class="control-label">上傳圖片</label>
                <div class="custom-file">
                    <input asp-for="productImage" class="custom-file-input" />
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="productImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    <script>// Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}