@*@model MvcWeb.Models.Employee*@
@model MvcWeb.ViewModels.employeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data"> @*要加上 method="post" enctype="multipart/form-data" 才能成功重新上傳圖片*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="employeeId" />
            <div class="form-group">
                <label asp-for="employeeIndex" class="control-label">成員編號</label>
                <input asp-for="employeeIndex" class="form-control" />
                <span asp-validation-for="employeeIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employeeName" class="control-label">成員姓名</label>
                <input asp-for="employeeName" class="form-control" />
                <span asp-validation-for="employeeName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="employeeIntro" class="control-label">成員簡介</label>
                <input asp-for="employeeIntro" class="form-control" />
                <span asp-validation-for="employeeIntro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="employeeDegree" class="control-label">成員學歷</label>
                <input asp-for="employeeDegree" class="form-control" />
                <span asp-validation-for="employeeDegree" class="text-danger"></span>
            </div>

            <div class="form-group">
                <!--<label asp-for="employeeBirth" class="control-label">成員生日</label>
                <input asp-for="employeeBirth" class="form-control" />
                <span asp-validation-for="employeeBirth" class="text-danger"></span>-->
                <label asp-for="employeeBirth" class="control-label">成員生日</label>
                @foreach (var birth in ViewBag.employeeInfo)
                {
                    <input asp-for="employeeBirth" id="datepicker" type="text" class="form-control" value="@birth.employeeBirth.ToString("yyyy-MM-dd")" />//顯示原本的生日 
                }
                <span asp-validation-for="employeeBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="employeeImage" class="control-label">上傳圖片</label>
                <div class="custom-file">
                    <input asp-for="employeeImage" class="custom-file-input" />
                    @foreach (var Img in ViewBag.employeeInfo)
                    {
                        <label class="custom-file-label" for="customFile">@Img.employeePicture</label>//顯示原本的圖片名稱
                    }
                </div>
                <span asp-validation-for="employeeImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    <script>// Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>

    <!--呼叫日曆功能-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $('#datepicker').datepicker();
        });
    </script>
    <!--呼叫日曆功能-->

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}