@model MvcWeb.ViewModels.bannerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Banner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="bannerIndex" class="control-label"></label>
                <input asp-for="bannerIndex" class="form-control" />
                <span asp-validation-for="bannerIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bannerState" class="control-label"></label>
                <input asp-for="bannerState" class="form-control" />
                <span asp-validation-for="bannerState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bannerContentUp" class="control-label"></label>
                <input asp-for="bannerContentUp" class="form-control" />
                <span asp-validation-for="bannerContentUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bannerContentDown" class="control-label"></label>
                <input asp-for="bannerContentDown" class="form-control" />
                <span asp-validation-for="bannerContentDown" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfileImage" class="control-label">上傳圖片</label>
                <div class="custom-file">
                    <input asp-for="ProfileImage" class="custom-file-input" />
                    @foreach (var Img in ViewBag.bannerInfo)
                    {
                        <label class="custom-file-label" for="customFile">@Img.ProfilePicture</label>//顯示原本的圖片名稱
                    }
                </div>
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
