/*********************控制第一行導覽列的 css參數***********************/
.nav a {
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
}

.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

.headerGroup{
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 25);
}

hr{
    margin-top: 0px;
    margin-bottom: 10px;
}

.caret {
    -moz-transition: transform .5s;
    -webkit-transition: transform .5s;
    transition: transform .5s;
}

.rotate-180 {
    transform: rotate(-180deg);
}

.dropdown .dropdown-menu {
    overflow: hidden;
    display: none;
    text-align:center
}

.navbar-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
}
/*for the animation*/
.navbar-toggle:after {
    transition: 0.5s;
}
/*********************控制第一行導覽列的 css參數***********************/

/*********************控制第二行導覽列的 css參數***********************/
.searchbar {
    display: flex;
    float: right;
    align-items: center;
    margin-right: 10px;
    margin-top: 4px;
    margin-left: auto; /*讓他跑到畫面最右邊*/
}

.img-responsive{
    display:inline;
}

.barsPos {
    display: flex;
    float: right;
    align-items: center;
    margin-right: 10px;
    margin-top: 4px;
    margin-left: auto; /*讓他跑到畫面最右邊*/
}

.barsPos .bars{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding-right: 11px;
    margin-top: 2px;
}
/*********************控制第二行導覽列的 css參數***********************/

/*********************控制第三行導覽列的 css參數***********************/
#Horizon li{
    float:left;
    margin-right:20px;
    margin-top:0px;
    border:none;
}

.thirdNav{
    margin-top: 0px;
}
.thirdNav a{
    list-style:none;
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */ 
}

.language{
    display: flex;
    float: right;
    align-items: center;
    margin-right: 10px;
    margin-top: 0px;
    margin-left: auto; /*讓他跑到畫面最右邊*/ 
}
.language a{
    list-style:none;
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */  
}

/*********************控制第三行導覽列的 css參數***********************/

/*********************控制疫情資訊的 css參數***********************/
.case-wrap{
    align-items: center;
    margin-top: -24px;
}
/*********************控制疫情資訊的 css參數***********************/

/*********************主體第一區塊的 css參數***********************/
.zone{
    margin: 0 auto;
    max-width: 1200px;
}
.row{
    margin-right: -10px;
    margin-left: -10px;
}
.standard-container{
    border-radius: 2px;
    padding: 14px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px #eee;
    margin-bottom: 9px;
    height: auto;
}
.lazy-container{
    display: block;
    position: relative;
    height: 0;
}
.lazy-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.index-img-box{
    position: relative;
    margin-bottom: 5px;
}
.index-main-box{
    position: relative;
    width: 75%;
    z-index: 5;
    margin: -30px auto 8px;
    padding: 3% 8%;
    border: 2.5px solid #555;
    background-color: #fff;
    text-align: center;
}
.index-main-box .author, .index-main-box .categories, .index-main-box .time{
    padding: 0 4px 0 0;
    color: #777;
    font-size: 15px;
    display: inline-block;
}
.index-main-box .categories{
    position: relative;
    margin: 0 10px;
}
.index-main-box .article-title{
    color: #222;
    font-weight: 700;
    margin: 15px 0 5px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 62px;
    font-size: 22px;
    line-height: 31px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: sans-serif;
}
.blog-box img, .index-img-box img, .video-box li .video-pic img{
    width: 100%;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align:baseline;
    font-family: sans-serif;
}
.index-main-box .article-title header{
    width: 100%;
}
/*********************主體第一區塊的 css參數***********************/

/***** 第一主體右側 *****/
.col-md-4{
    width: 33.3%;
    float: left;
}
.index-info-box .categories{
    color: #444;
    position: relative;
    margin: 0 10px;
}
.index-info-box .author{
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.index-info-box .article-title{
    color: #555;
    margin: 10px 0 0;
    display: block;
    display: -webkit-box;
    height: 38px;
    font-size: 14px;
    line-height: 19px;
    font-family: sans-serif;
}
.blog-box .sponsored-block > li > a, .index-info-box .article-title {
    max-width: 100%;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow:ellipsis
}
.first-section .authorRightSide, .first-section .categoriesRightSide, .first-section .timeRightSide{
    padding: 0 2px 0 0;
    color: #777;
    font-size: 12px;
    line-height: 1.4 !important;
    display: inline-block;
    vertical-align: top;
}
.first-section .authorRightSide a, .first-section .categoriesRightSide a, .first-section .timeRightSide a{
    color: #153b5f;
    font-family: sans-serif;
}

a {
    color: #153b5f;
    text-decoration: none;
}
a:hover {
    color:#009FDB;
    text-decoration: none;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left:10px
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block
}
.index-info-box {
    margin-top: 8px;
    margin-bottom:6px
}
/***** 第一主體右側 *****/
.info-container{
    margin-top: 1px;
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 20ox;
}
.link-color{
    color: #153b5f;
}
.blog-box ul{
    margin-bottom: -10px;
}
.blog-box .sponsored-block .img-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 110px;
}
.img-box {
    position: relative;
    font-size:0
}
.blog-box .sponsored-block .sponsored-color{
    color: #85bace;
    font-size: 12px;
}
.blog-box .sponsored-block span{
    display: block;
    padding-top: 4px;
    margin-left: 125px;
}
.sponsored-block .sponsored-color, .sponsored-info, span.sponsored{
    text-transform: uppercase;
}
/***** 第一主體下側 *****/
.blog-box .sponsored-block > li {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 76px;
    line-height: 1.55em;
    border-bottom: solid 1px #ccc;
    padding:0
}
.blog-box .sponsored-block > li > a {
    padding: 0;
    display: block;
    display: -webkit-box;
    height: 42px;
    font-size: 14px;
    line-height: 21px;
    margin-left:125px
}
.info-container hr {
    border: none;
    border-top: dotted 1px #ccc;
    margin:10px auto 5px
}
/***** 第一主體下側 *****/

/********************* 熱門文章專區 *********************/
.hot-section {
    padding: 60px 10px 80px;
    background:#222
}
.hot-zone {
    max-width: 840px;
    padding:5px
}
.hot-container h4 {
    color: #444;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom:solid 2px #444
}

.hot-box ul li {
    background: #fff;
    padding: 14px 10px;
    position: relative;
    margin-bottom:24px
}

.hot-box ul li:after, .hot-box ul li:first-child:before {
    height: 2px;
    background: #eee;
    left: 0;
    width: 100%;
    content: ""
}
.hot-box ul li:after {
    position: absolute;
    bottom:-14px
}
.hot-box ul li:first-child:before {
    position: absolute;
    top:-12px
}
.hot-box ul li :last-child {
    margin-bottom:0
}
.hot-box ul li .hot-article {
    padding-left: 25px;
    margin-left: 57px;
    border-left:solid 2px #777
}
.hot-box ul li .hot-article .title, .hot-box ul li .hot-article h5 {
    line-height: 1.5em;
    display: inline;
    font-size:21px
}
.hot-box ul li .hot-rank {
    position: absolute;
    top: 11px;
    left:20px
}
.hot-box ul li .hot-rank .icon, .hot-box ul li .hot-rank h5 {
    color: #555;
    font-size: 21px;
    padding: 0 12px 2px 5px;
    font-weight: 700;
    line-height: 1.8em;
    display:inline
}

.sect-title {
    margin: 15px auto 10px;
    color: #555;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    letter-spacing:2px
}
.sect-title-hr {
    border-color: #ccc;
    margin: 0 auto 35px;
    width:140px
}
ol, ul {
    list-style:none
}
/********************* 熱門文章專區 *********************/

/********************* 關鍵懶人包專區 *********************/
.section {
    padding:60px 10px;
}
.zone {
    margin: 0 auto;
    max-width:1200px;
}
.cards-index-section .cards-slider-container {
    transform: translateX(0);
    transition: .7s;
    margin: 60px auto;
    display: flex;
    scroll-snap-type:x mandatory;
}
.cards-container .img-box {
    height: 240px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: #eee;
    margin:-15px -15px 15px;
}
.cards-container {
    border: 1px solid #81abd5;
    padding: 15px;
    position: relative;
    background:#fff;
    padding-bottom: 0;
}
.cards-container .time {
    margin: 10px auto 15px;
    font-size: 14px;
    color:#777;
}
.cards-container .title {
    font-size: 17px;
    line-height: 24.5px;
    color: #153b5f;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 74px;
    margin-bottom:25px;
}
.cards-index-section .cards-slider-container .cards-slider-box {
    padding: 15px;
    width:25%;
}
.cards-index-section .zone {
    overflow:hidden;
}
.cards-index-section .btn {
    margin-bottom: 25px;
    margin-top:-15px
}
.keylazyBtn {
    display: table;
    border: 1px solid #ccc;
    color: #777;
    padding: 10px 14px;
    border-radius: 3px;
    font-size: 14px;
    margin: 15px auto 5px;
    cursor: pointer;
    transition:all .2s
}
.keylazyBtn:hover {
    background: #777;
    color: #fff;
    border-color:#777
}
/********************* 關鍵懶人包專區 *********************/

/********************* 精選影音 *********************/
.Videocol-md-4 {
    width:33.33333333%;
    float: left;
}

.Videocol-md-4 .standard-container{
    border-radius: 2px;
    padding: 14px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px #eee;
    margin-bottom: 20px;
    height: auto;
}
.standard-container .title, .standard-container h5 {
    font-size: 14px;
    margin-bottom:10px
}
.video-box .title, .video-box h5 {
    font-size: 14px;
    line-height:1.45em
}
.video-box li {
    min-height: 60px;
    line-height: 1.4em;
    position: relative;
    margin-bottom:15px
}
.video-box li:last-child {
    margin-bottom:-5px
}
.video-box li .video-info {
    margin-left:125px
}
.video-box li .video-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height:60px
}
.main-container {
    background: #fff;
    border: 2px solid #333;
    padding: 15px;
    font-size: 14px;
    margin-bottom:20px
}
.main-container .video-iframe-box {
    height:405px
}
.main-container hr {
    border: none;
    border-top: solid 1px #444;
    margin:10px auto
}
.video-main-box {
    margin: 5px auto 0;
    width: 100%;
    border:none
}
/********************* 精選影音 *********************/




/*********************RWD nav bar*********************/
@media (max-width: 767px) {
    .headerGroup{
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 25);
        position: fixed;
        top: 0;
        z-index: 10000;
        right: 0px !important;
        left: 0px !important;
        margin-top: -10px;
    }
    .header-group-item-logo{
        display: none !important /*當畫面縮小時，隱藏 nav bar 中間的圖片*/
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-toggle .icon-bar {
        background-color: black;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .img-responsive{
        width: 213px!important;
    }
    .searchbar{
        display: none;
    }
    .barsPos .bars{
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        margin-top: 0px;
    }
    .thirdNav{
        display: none;
    }
    .case-wrap{
        display: none;
    }

    #tnl-covid-19-dashboard{
        margin-top: 150px !important;
    }

    /***** 第一主體RWD *****/
    .standard-container{
        padding: 12px;
        margin-bottom: 10px;
    }
    .index-main-box{
        padding-top: 15px;
        margin: 0 auto !important;
        width: 100%;
    }
    .index-main-box .author, .index-main-box .categories, .index-main-box .time{
        font-size: 12px;
    }
    .index-main-box .article-title{
        font-size: 17px;
        margin-top: 5px;
        overflow: auto;
        height: auto;
        display: block;
        font-family: sans-serif;
    }
    /***** 第一主體RWD *****/

    /***** 第一主體右側 *****/
    .col-md-4{
        width: 100%;
    }
    /***** 第一主體右側 *****/

    /********************* 關鍵懶人包專區 *********************/
    .section {
        padding-bottom:10px
    }
    .cards-index-section .cards-slider-container {
        width: 100%;
        overflow: auto;
        margin:45px auto
    }
    .sect-title {
        font-size: 19px;
        margin:10px auto
    }
    .cards-index-section .cards-slider-container .cards-slider-box:first-child {
        margin-left:15px
    }
    .cards-container .img-box {
        height: 230px;
        background-size:cover
    }
    .cards-index-section .cards-slider-container .cards-slider-box {
        width: auto;
        min-width: 300px;
        scroll-snap-align:start
    }
    /********************* 關鍵懶人包專區 *********************/


}
/*********************RWD nav bar*********************/